<br />
<form class="form-horizontal" ng-submit="createWord(word)">
    <h4>Зашифровать новое слово</h4>
    <hr />
    <div class="form-group">
        <label class="col-lg-2 control-label">Слово</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="word.NewWord" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-success" value="Зашифровать" />
            <a href="#/" class="btn btn-default">Отмена</a>
        </div>
    </div>
</form>